@import './partials/nav.css';
@import './partials/header.css';
@import './partials/services.css';

:root {
  --primary-color: #00856f;
  --secondary-color: #f7f9f9;
  --first-brand-color: #dce9e2;
  --second-brand-color: #fffaf1;
  --brand-border-color: #dce9e2;

  --first-section-color: #f7f9f9;
  --second-section-color: #ffffff;

  --title-color: #212529;
  --text-color: #495057;
  --text-color-light: #ffffff;

  --navbar-height: 7.2rem;

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: 400 1.6rem 'Inter', sans-serif;
  margin: 0 auto;
}

h2,
h3 {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  cursor: pointer;

  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;

  margin: 3.2rem 0;
  padding: 1.6rem 3.2rem;
  width: 27.4rem;
  height: 5.2rem;

  border: none;
  border-radius: 4rem;
}

header,
main,
footer {
  margin-inline: auto;
}

section h3 {
  margin-bottom: 1.6rem;
}

.wrapper {
  padding-inline: 2.4rem;
}

@media (min-width: 992px) {
  .wrapper {
    padding-inline: 12.3rem;
  }
}
