section#contact .container {
  display: grid;
  grid-template-areas:
    'content content'
    'image image';
  place-items: center flex-end;
  justify-content: space-between;
  gap: 4rem;
}

section#contact .container div {
  grid-area: content;
}

section#contact .address {
  margin-top: 2.4rem;
}

section#contact .address div + div {
  margin-top: 1.5rem;
}

section#contact .address i {
  color: var(--primary-color);
  font-size: 2rem;
  width: 25px;
  text-align: center;
}

section#contact img {
  grid-area: image;
}

@media screen and (min-width: 768px) {
  section#contact .container {
    grid-template-areas: 'content image';
  }

  section#contact .container p {
    width: 15ch;
  }

  section#contact .container a.btn {
    margin-inline: 0;
  }

  section#contact .container:nth-child(2) {
    justify-items: flex-end;
  }
}
