footer {
  background-color: var(--primary-color);
}

footer .container {
  display: grid;
  grid-template-areas:
    'content content'
    'socials socials';
}

footer .container div {
  grid-area: content;
}

footer h2 {
  font-size: 3.4rem;
}

footer h2 span {
  font-weight: 700;
}

footer h2,
footer p,
footer a,
footer span {
  color: var(--text-color-light);
}

footer .copyrights {
  margin: 2.4rem 0;
}

footer .copyrights p {
  margin-bottom: 1rem;
}

footer .footer__socials {
  grid-area: socials;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.footer__socials li {
  text-align: center;
}

.footer__socials li:hover i {
  transform: scale(1.1);
}

.footer__socials li i {
  transition: transform linear 0.2s;
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  footer .container {
    grid-template-areas: 'content socials';
  }

  footer .footer__socials {
    justify-content: flex-end;
  }
}
