header {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin-top: calc(4.1rem + var(--navbar-height));
}

header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-brand-color);
  width: 100%;
  height: calc(108rem + var(--navbar-height));
  z-index: -1;
}

header h1 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin: 1.6rem 0 2.4rem;
  color: var(--title-color);
}

header h2 {
  font-weight: 700;
  text-transform: uppercase;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
}

header img {
  display: block;
  object-position: 0 20px;
  width: 26.16rem;
  height: 34.2rem;
  margin: 0 auto;
}

div.stats {
  width: 100%;
  height: 47rem;
  padding: 4rem 0;
  background-color: var(--second-brand-color);
  border: 1px solid var(--brand-border-color);
  border-radius: 0.6rem;
}

div.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.stats h3 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: var(--title-color);
  text-align: center;
}

div.stats p {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-top: 0.4rem;
}

div.stats p:not(:last-child) {
  margin-bottom: 6rem;
}

@media screen and (min-width: 768px) {
  header::before {
    height: calc(47rem + var(--navbar-height));
  }

  header .container {
    display: grid;
    grid-template-areas:
      'content image'
      'stats stats';
  }

  header .container > div {
    grid-area: content;
    text-align: left;
  }

  header .container > div a.btn {
    margin-inline: 0;
  }

  header img {
    grid-area: image;
  }

  header div.stats {
    grid-area: stats;
    flex-direction: row;
    height: 100%;
    margin-top: -4px;
  }

  div.stats div {
    padding: 0 4rem;
  }

  div.stats div:nth-child(2) {
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
  }
}
