header {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin-top: calc(4.1rem + var(--navbar-height));
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-brand-color);
  width: 100%;
  height: calc(108rem + var(--navbar-height));
  z-index: -1;
}

header h1 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin: 1.6rem 0 2.4rem;
  color: var(--title-color);
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
}

header a.btn {
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

header img {
  display: block;
  object-position: 0 20px;
  width: 26.16rem;
  height: 34.2rem;
}

div.stats {
  width: 32.7rem;
  height: 47rem;
  padding: 4rem;
  background-color: var(--second-brand-color);
  border: 1px solid var(--brand-border-color);
  border-radius: 0.6rem;
}

div.stats h3 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: var(--title-color);
}

div.stats p {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-top: 0.4rem;
}

div.stats p:not(:last-child) {
  margin-bottom: 6rem;
}
