nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--first-brand-color);
  padding: 1.6rem 0;
  height: var(--nav-height);
  width: 100vw;
  z-index: 1;
  transition: 0.3s linear;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.navbar h2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--title-color);
}

div.navbar h2 span {
  font-weight: 700;
}

div.navbar h2 span,
div.navbar i {
  color: var(--primary-color);
}

div.navbar button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: transparent;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;

  top: calc(var(--navbar-height) - 0.5rem);
  left: 0;

  width: 100vw;
  height: 100vh;

  transform: translateY(100%);
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu ul li {
  text-align: center;
}

.menu ul.menu__links {
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  margin-bottom: 4.8rem;
}

.menu ul.menu__links a {
  margin-inline: auto;
  text-align: center;
  color: var(--text-color-light);
  font-size: 2.4rem;
}

.menu a.btn {
  margin-inline: auto;
  font-size: 1.8rem;
  width: 28.7rem;
  font-weight: 700;
  line-height: 2.34rem;
  background-color: var(--text-color-light);
  color: var(--primary-color);
}

.menu ul.menu__socials {
  gap: 3.2rem;
  margin-top: 8rem;
  font-size: 2.4rem;
}

.menu ul.menu__socials i {
  color: var(--text-color-light);
  transition: 0.3s ease;
}

.menu ul.menu__socials i:hover {
  transform: scale(1.3);
}

.nav--scroll {
  background-color: var(--primary-color);
}

.nav--scroll div.navbar h2,
.nav--scroll div.navbar h2 span,
.nav--scroll div.navbar i {
  color: var(--text-color-light);
}

body.menu-expanded {
  overflow-y: hidden;
}

body.menu-expanded .menu {
  position: fixed;
  top: calc(var(--navbar-height) - 0.5rem);
  left: 0;
  width: 100%;
  height: 100vh;

  transition: transform 400ms;
  transform: translateY(0);

  opacity: 1;
  visibility: visible;
}

.active {
  color: var(--text-color-light);
  background-color: var(--primary-color);
}

body.menu-expanded div.navbar h2,
body.menu-expanded div.navbar h2 span,
body.menu-expanded div.navbar button i {
  color: var(--text-color-light);
}

@media (min-width: 992px) {
  div.navbar button {
    display: none;
  }

  div.navbar h2 {
    flex: 1;
  }

  nav .menu {
    flex: 3;
    opacity: 1;
    visibility: visible;
    position: inherit;
    display: flex;
    gap: 2rem;

    width: 100%;
    height: 100%;

    transform: translateY(0);
  }

  .menu ul.menu__links {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .menu ul.menu__links li {
    flex: 1;
  }

  .menu ul.menu__links a {
    text-transform: none;
    font-size: 1.8rem;
    color: var(--primary-color);
    padding-bottom: 1.6rem;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out 0.1s;
  }

  .menu ul.menu__links a:hover {
    font-weight: 700;
    border-color: var(--primary-color);
  }

  nav.nav--scroll .menu ul.menu__links a {
    color: var(--text-color-light);
  }

  nav.nav--scroll .menu ul.menu__links a:hover {
    border-color: var(--text-color-light);
  }

  .menu a.btn {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.6rem 1rem;
    background-color: transparent;
    border: 1px solid var(--primary-color);
  }

  nav.nav--scroll .menu a.btn {
    color: var(--text-color-light);
    border-color: var(--text-color-light);
  }

  .menu ul.menu__socials {
    display: none;
  }

  nav.wrapper {
    padding-inline: 12.3rem;
  }
}
