section#statements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15rem 0;
  scroll-margin-top: 15rem;
}

section#statements::before {
  content: '';
  position: absolute;
  top: calc(var(--services-height) + var(--header-height));
  left: 0;
  width: 100%;
  height: calc(var(--statements-height) + 100rem);
  background-color: var(--second-section-color);
  z-index: -1;
}

section#statements > p {
  font-size: 3rem;
  line-height: 3.9rem;
  font-weight: 700;
  color: var(--title-color);
  max-width: 49.7rem;
  margin-inline: auto;
}

.carousel {
  /* height: 30rem; */
  background-color: red;
  overflow: hidden;
}

.statements__group-cards {
  margin-top: 6rem;
}

.statements__group-cards .card {
  background-color: var(--first-brand-color);
}

.statements__group-cards .card__header span.stamp i {
  font-size: 3.2rem;
}

.statements__group-cards .card__footer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.statements__group-cards .card__footer img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.statements__group-cards .card__footer p {
  color: var(--primary-color);
  font-weight: 700;
}
